/*font links*/
/*adding Roboto fonts*/
@font-face {
  font-family: 'Roboto regular';
  src: url(./resources/fonts/roboto/Roboto-Regular.ttf) format('truetype');

}
@font-face {
  font-family: 'Roboto italic';
  src: url(./resources/fonts/roboto/Roboto-Italic.ttf) format('truetype');

}
@font-face {
  font-family: 'Roboto bold';
  src: url(./resources/fonts/roboto/Roboto-Bold.ttf) format('truetype');

}
/*global styles*/
html, body {
  font-family: 'Roboto-regular', sans-serif;
  margin: 0;
  padding: 0;
}
/*headers*/
h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Roboto bold', sans-serif;
}
/*horizontal line styles*/
hr {
  margin: 50px;
}

/*header*/
header {
  background-color: #656667;
  color: #fff;
  width: 100%;
  height: 317px;
  position: relative;
  margin: 0 auto;
}
/*upper lines*/
.lines {
  background-image: url(./img/stripe-short.png);
  height: 60px;
}
/*wrapper grid*/
.wrapper-grid {
  display: grid;
  grid-template: 1fr 1fr/ 1.3fr 3fr;
  grid-template-areas: 'logo side-lines'
                       'logo nav';
}
/*side-lines*/
.side-lines {
  overflow: hidden;
  grid-area: side-lines;
  display: flex;
  flex-direction: column;
}
.side-lines div {
  width: 100%;
  height: 21px;
}
#second-side-line {
 background-image: url(./img/stripe-short.png);
}
#fourth-side-line {
  background-image: url(./img/stripe-short.png);
  margin-left: 100px;
}
/*logo*/
.logo {
  height: 236px;
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: logo;
}
.logo:hover {
  cursor: pointer;
}
/*logo-text*/
.logo-text {
  text-align: center;
  position: relative;
}
.logo-text h1 {
  font-size: 48px;
}
.logo-text h2 {
  display: inline-block;
  position: absolute;
  left: -2px;
  top: 80px;
  width: 280px;
  padding: 0px;
}
/*navigation*/
.nav {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-links {
  width: 200px;
  height: 70px;
  border-radius: 5px;
  background-color: #474849; 
  display: flex;
  justify-content: center;
}
.nav-links:hover {
  background-color: #545555; 
  cursor: pointer;
}
/*nav media query max-width: 1235*/
@media only screen and (max-width: 1235px) {
  .nav-links {
    width: 150px;
  }
}
/*nav media query max-width: 1040px*/
@media only screen and (max-width: 1040px) {
  .nav-links {
    width: 100px;
  }
}
/*nav media query max-width: 830px*/
@media only screen and (max-width: 830px) {
  .nav-links {
    width: 80px;
  }
}
/*bottom lines*/
#bottom-lines {
  position: absolute;
  bottom: 0px;
  height: 20px;
  width: 100%;
}
/*main content*/
main {
  background-color: #656667;
  font-family: 'Roboto regular';
  width: 100%;
  display: grid;
  grid-template: 0.5fr 1fr 1fr 0.5fr / 1fr 1fr 1fr;
  grid-template-areas:
                      'introduction introduction introduction'
                      'left-up center-up right-up'
                      'left-down center-down right-down'
                      'feedbacks feedbacks feedbacks'
                      ;
}
/*media queries for main content (max-width: 1030px)*/
@media only screen and (max-width: 1030px) {
  main {
    grid-template: 0.5fr 1fr 1fr 0.5fr / 1fr 1fr;
    grid-template-areas:
                        'introduction introduction'
                        'left-up center-up'
                        'right-up left-down'
                        'center-down right-down'
                        'feedbacks feedbacks'
                        ;
  }
}
/*media query (max-width: 750px)*/
@media only screen and (max-width: 750px) {
  main {
    grid-template: 0.5fr 1fr 1fr 0.5fr / 1fr;
    grid-template-areas:
                        'introduction'
                        'left-up'
                        'center-up'
                        'right-up'
                        'left-down'
                        'center-down'
                        'right-down'
                        'feedbacks'
                        ;
  }
}

/*content blocks*/
.content-block {
  background-color: #7c7c7c;
  font-size: 22px;
  text-align: center;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 15px;
}
#introduction{
  grid-area: introduction;
  font-size: 30px;
  text-align: center;
}
#left-up {
  grid-area: left-up;
}
#center-up {
  grid-area: center-up;
}
#right-up {
  grid-area: right-up;
}
#left-down {
  grid-area: left-down;
}
#center-down {
  grid-area: center-down;
}
#right-down {
  grid-area: right-down;
}
#feedbacks {
  grid-area: feedbacks;

}
/*footer*/
footer {
  font-size: 22px;
  font-family: 'Roboto regular';
  width: 100%;
}
.footer-block {
  background-color: #939393;
  margin: 20px;
  text-align: center;
}
.footer-block a {
  text-decoration: none;
  color: black;
}
#left {
  grid-area: left;
}
#center-left {
  grid-area: center-left;
}
#center-right {
  grid-area: center-right;
}
#right {
  grid-area: right;
}
#copyrights {
  grid-area: copyrights;
  text-align: center;
}
.footer-wrapper {
  display: grid;
  grid-template: 1fr 0.5fr/ 1fr 1fr 1fr 1fr;
  grid-template-areas:'left center-left center-right right'
                      'copyrights copyrights copyrights copyrights'
                      ;
}
/*footer media queries*/
@media (max-width: 925px) {
  .footer-content {
    display: none;
  }
}

